<template name="MaterialesDetails">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> MaterialesDetailsForm}}
	</div>
</template>

<template name="MaterialesDetailsForm">
	<div id="materiales-details-form" class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			Material Details
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-descripcion">
				<label for="descripcion">
					DESCRIPCION
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-descripcion">
						{{material.descripcion}}
					</p>
				</div>
			</div>
			<div class="form-group  field-ultima_salida">
				<label for="ultima_salida">
					ULTIMA SALIDA
				</label>
				<div class="input-div">
					<table class="table table-striped">
						<thead>
							{{#if ultimaSalidaCrudItems}}
							<tr class="crud-table-header">
								<th>
									FECHA
								</th>
								<th>
									NUMERO
								</th>
								<th>
									CANTIDAD
								</th>
								<th>
									COSTO
								</th>
							</tr>
							{{/if}}
						</thead>
						<tbody>
							{{#each ultimaSalidaCrudItems}}
							<tr class="crud-table-row">
								<td>
									{{formatDate fecha ''}}
								</td>
								<td>
									{{numero}}
								</td>
								<td>
									{{cantidad}}
								</td>
								<td>
									{{costo}}
								</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-ultima_entrada">
				<label for="ultima_entrada">
					ULTIMA ENTRADA
				</label>
				<div class="input-div">
					<table class="table table-striped">
						<thead>
							{{#if ultimaEntradaCrudItems}}
							<tr class="crud-table-header">
								<th>
									FECHA
								</th>
								<th>
									NUMERO
								</th>
								<th>
									CANTIDAD
								</th>
								<th>
									COSTO
								</th>
							</tr>
							{{/if}}
						</thead>
						<tbody>
							{{#each ultimaEntradaCrudItems}}
							<tr class="crud-table-row">
								<td>
									{{formatDate fecha ''}}
								</td>
								<td>
									{{numero}}
								</td>
								<td>
									{{cantidad}}
								</td>
								<td>
									{{costo}}
								</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-norma-codigo">
				<label for="norma.codigo">
					NORMA
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-norma-codigo">
						{{material.norma.codigo}}
					</p>
				</div>
			</div>
			<div class="form-group  field-norma-cantidad">
				<label for="norma.cantidad">
					CANTIDAD
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-norma-cantidad">
						{{material.norma.cantidad}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<a href="#" id="form-close-button" class="btn btn-primary">
						OK
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

