<template name="ProyectosInsert">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> ProyectosInsertForm}}
	</div>
</template>

<template name="ProyectosInsertForm">
	<div id="proyectos-insert-form" class="">
		<h2 id="component-title">
			New Proyecto
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-descripcion">
				<label for="descripcion">
					NOMBRE
				</label>
				<div class="input-div">
					<input type="text" name="descripcion" value="" class="form-control " autofocus="autofocus" required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-contacto-nombre">
				<label for="contacto.nombre">
					NOMBRE
				</label>
				<div class="input-div">
					<input type="text" name="contacto.nombre" value="" class="form-control " data-type="object">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-contacto-celular">
				<label for="contacto.celular">
					CELULAR
				</label>
				<div class="input-div">
					<input type="text" name="contacto.celular" value="" class="form-control " data-type="object">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-contacto-telefono">
				<label for="contacto.telefono">
					TELEFONO
				</label>
				<div class="input-div">
					<input type="text" name="contacto.telefono" value="" class="form-control " data-type="object">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-contacto-correo">
				<label for="contacto.correo">
					EMAIL
				</label>
				<div class="input-div">
					<input type="text" name="contacto.correo" value="" class="form-control " data-type="object">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-ubicacion">
				<label for="ubicacion">
					UBICACION
				</label>
				<div class="input-div">
					<textarea class="form-control " name="ubicacion"></textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-geo_lon">
				<label for="geo_lon">
					LONGITUD
				</label>
				<div class="input-div">
					<input type="text" name="geo_lon" value="" class="form-control " data-type="integer">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-geo_lat">
				<label for="geo_lat">
					LATITUD
				</label>
				<div class="input-div">
					<input type="text" name="geo_lat" value="" class="form-control " data-type="integer">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-notas">
				<label for="notas">
					NOTAS
				</label>
				<div class="input-div">
					<textarea class="form-control " name="notas"></textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</template>

