<template name="MaterialesUpdate">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> MaterialesUpdateForm}}
	</div>
</template>

<template name="MaterialesUpdateForm">
	<div id="materiales-update-form" class="">
		<h2 id="component-title">
			Edit Material
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-referencia">
				<label for="referencia">
					REFERENCIA
				</label>
				<div class="input-div">
					<input type="text" name="referencia" value="{{material.referencia}}" class="form-control " autofocus="autofocus" required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-descripcion">
				<label for="descripcion">
					DESCRIPCION
				</label>
				<div class="input-div">
					<input type="text" name="descripcion" value="{{material.descripcion}}" class="form-control " required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</template>

