<template name="ProyectosDetails">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> ProyectosDetailsForm}}
	</div>
</template>

<template name="ProyectosDetailsForm">
	<div id="proyectos-details-form" class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			Proyecto Details
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-descripcion">
				<label for="descripcion">
					NOMBRE
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-descripcion">
						{{proyecto.descripcion}}
					</p>
				</div>
			</div>
			<div class="form-group  field-contacto-nombre">
				<label for="contacto.nombre">
					NOMBRE
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-contacto-nombre">
						{{proyecto.contacto.nombre}}
					</p>
				</div>
			</div>
			<div class="form-group  field-contacto-celular">
				<label for="contacto.celular">
					CELULAR
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-contacto-celular">
						{{proyecto.contacto.celular}}
					</p>
				</div>
			</div>
			<div class="form-group  field-contacto-telefono">
				<label for="contacto.telefono">
					TELEFONO
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-contacto-telefono">
						{{proyecto.contacto.telefono}}
					</p>
				</div>
			</div>
			<div class="form-group  field-contacto-correo">
				<label for="contacto.correo">
					EMAIL
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-contacto-correo">
						{{proyecto.contacto.correo}}
					</p>
				</div>
			</div>
			<div class="form-group  field-ubicacion-lugar">
				<label for="ubicacion.lugar">
					UBICACION
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-ubicacion-lugar">
						{{proyecto.ubicacion.lugar}}
					</p>
				</div>
			</div>
			<div class="form-group  field-ubicacion-longitud">
				<label for="ubicacion.longitud">
					LONGITUD
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-ubicacion-longitud">
						{{proyecto.ubicacion.longitud}}
					</p>
				</div>
			</div>
			<div class="form-group  field-ubicacion-latitud">
				<label for="ubicacion.latitud">
					LATITUD
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-ubicacion-latitud">
						{{proyecto.ubicacion.latitud}}
					</p>
				</div>
			</div>
			<div class="form-group  field-notas">
				<label for="notas">
					NOTAS
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-notas">
						{{proyecto.notas}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<a href="#" id="form-close-button" class="btn btn-primary">
						OK
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

