<template name="Proyectos">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> ProyectosView}}
	</div>
</template>

<template name="ProyectosView">
	<div id="proyectos-view" class="">
		<h2 id="component-title">
			Proyectos
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-insert" class="form-group {{insertButtonClass}}">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="input-group">
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<span class="input-group-btn">
						<button type="button" id="dataview-search-button" class="btn btn-primary">
							<span class="fa fa-search">
							</span>
						</button>
					</span>
				</div>
			</div>
		</form>
		{{#if isNotEmpty}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> ProyectosViewTable}} {{/if}}
		</div>
		{{/if}}
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
	</div>
</template>

<template name="ProyectosViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="descripcion">
					NOMBRE
				</th>
				<th class="th-sortable" data-sort="contacto.nombre">
					NOMBRE
				</th>
				<th class="th-sortable" data-sort="contacto.celular">
					CELULAR
				</th>
				<th class="th-sortable" data-sort="contacto.telefono">
					TELEFONO
				</th>
				<th class="th-sortable" data-sort="contacto.correo">
					EMAIL
				</th>
				<th>
					UBICACION
				</th>
				<th class="th-sortable" data-sort="ubicacion.longitud">
					LONGITUD
				</th>
				<th class="th-sortable" data-sort="ubicacion.latitud">
					LATITUD
				</th>
				<th class="th-sortable" data-sort="notas">
					NOTAS
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> ProyectosViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="ProyectosViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{descripcion}}
		</td>
		<td>
			{{contacto.nombre}}
		</td>
		<td>
			{{contacto.celular}}
		</td>
		<td>
			{{contacto.telefono}}
		</td>
		<td>
			{{contacto.correo}}
		</td>
		<td>
			{{ubicacion.lugar}}
		</td>
		<td>
			{{ubicacion.longitud}}
		</td>
		<td>
			{{ubicacion.latitud}}
		</td>
		<td>
			{{notas}}
		</td>
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
		</td>
		<td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete">
			</span>
		</td>
	</tr>
</template>

